@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar::-webkit-scrollbar{

    width: 2px;
    background-color:  #dfe0d449;
    
}
.scrollbarShimmer::-webkit-scrollbar{
  width: 2px;
  background-color:  #dfe0d4;
}
.scrollbarShimmer::-webkit-scrollbar-thumb {

  border: 2px ; 

}
.scrollbar::-webkit-scrollbar-thumb {

    border: 2px solid rgba(20, 4, 7, 0.479);
    border-radius: 50%;
  }

.customsize{
    width: calc( 100% - 20px );
}

.scrollbarX::-webkit-scrollbar{
    margin-top: 6px;
    display: none;
}


.mediafiles {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth; 
    transition: scroll-left 2s ease-in-out; 
  }
  
  .images-videos {
    min-width: 100%;
    transition: transform 1s ease-in-out; 
  }
  
  .dialogbox{
    opacity: 0;
    transition: all 0.3s allow-discrete;
  }
 

  .dialogbox[open]{
    opacity: 1;
  }
  @starting-style{
    .dialogbox[open]{
      opacity: 0;
    }
  }
  .dialogbox::backdrop{
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s allow-discrete;
  }

  .dialogbox[open]::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
  }

  @starting-style{
    .dialogbox[open]::backdrop{
      background-color: rgba(0, 0, 0, 0);
    }
  }